@font-face {
    font-family: "Agmena";
    src: url(fonts/agmena-pro-regular.ttf);
}

a {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: "Agmena", sans-serif;
    margin: 0;
    text-shadow: 2px 2px 1px black;
    background-image: url(images/elden-page-background.jpg);
    background-attachment: fixed;
}


.header-container {
    width: 100vw;
    display: flex;
    height: 60px;
    background-color: black;
    color: #F9FAF8;
    font-family: "nunito", sans-serif;
    z-index: 1000;
    position: fixed;
    top: 0px;
}

.left-header {
    flex: 2;
    margin-right: 28vw;
    margin-left: 13vw;
}

.header-logo {
    width: 150px;
    height: 55px;
}

.right-header {
    display: flex;
    text-align: center;
    margin-right: 2.4vw;
}

.header-link-one:hover, .header-link-two:hover, .header-link-three:hover {
    background-color: rgb(43, 43, 43);
}

.header-link {
    color: #F9FAF8;
    text-decoration: none;
}

.header-link-one, .header-link-two, .header-link-three {
    margin: auto 10px;
    padding: 19px 5px;
}


.intro {
    height: 300px;
    width: 100vw;
    margin-top: 30px;
    padding-top: 45px;
}

.product-intro {
    width: 75vw;
    height: 280px;
    color: #F9FAF8;
    display: flex;
    margin: 0 auto;
    justify-content: end;
}

.product-intro-text {
    height: 280px;
    width: 375px;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    margin-right: 15px;
    text-shadow: 2px 2px 1px black;
}

.product-intro-title {
    font-weight: 700;
    font-size: 60px;
    width: 325px;
    margin-bottom: 0;
    margin-top: 0;
}

.product-intro-description {
    font-weight: 500;
    font-size: 15px;
    width: 525px;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.product-intro-button {
    margin-top: 10px;
}

.intro-signup-button {
    background-color: #c19d53;
    border: 1px solid #1e244d;
    color: #F9FAF8;
    border: none;
    border-radius: 7px;
    padding: 6px 20px;
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
    transition: background-color .15s;
}

.intro-signup-button:hover {
    background-color: #ab822f;
    cursor: pointer;
}

.intro-image {
    height: 250px;
    border-radius: 12px;
}

.snapshots-container {
    display: flex;
    width: 100vw;
    height: 500px;
    justify-content: center;
    padding-top: 35px;
}

.snapshots {
    background-image: url(images/erdtree-background-key-feature-2.png);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 1140px;
    justify-content: center;
    padding-top: 35px;
}

h1 {
    text-align: center;
    color: #F9FAF8;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 0;
    width: 100vw;
    font-size: 60px;
}

.snapshot-one, .snapshot-two, .snapshot-three, .snapshot-four {
    flex: 1;
    height: 275px;
    margin: 0 80px;
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    align-items: center;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 20px;
}

.snapshot-pic {
    height: 250px;
    margin-bottom: 0;
}


.quote-container {
    width: 70vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    margin: 0 auto;
}

.quote p {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    font-style: italic;
}

.quote-author p {
    text-align: center;
    font-family: "Nunito sans", sans-serif;
    font-weight: 700;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-container {
    width: 70vw;
    height: 150px;
    background-color: #c19d53;
    border: 1px solid #1e244d;
    margin-top: 25px;
    border-radius: 12px;
    display: flex;
    color: #F9FAF8;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    margin: auto 80px;
}

.sign-up-title {
    font-size: xx-large;
    font-weight: 600
}

.sign-up-description {
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
    text-shadow: 1px 1px 1px black;
}

.sign-up-button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.bottom-signup {
    background-color: #c19d53;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 7px;
    padding: 6px 20px;
    font-size: 24px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    transition: all 0.16s;
}

.bottom-signup:hover {
    background-color: #F9FAF8;
    border: 2px solid #F9FAF8;
    color: #c19d53;
    cursor: pointer;
}

footer {
    background-color: #c16d53;
    color: #F9FAF8;
    margin-top: 80px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
    text-align: center;
    height: 45px;
    padding-top: 20px;
}

